<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nethys' Toolbox{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {{ include('::core_ressources.html.twig') }}

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="header">
                    Header
                </div>
            </div>
            
            <div class="row">
                <div class="menu">
                    {{ include('::core_menu.html.twig') }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-3">
                    <!--<div class="inner_cell">-->
                        Side-menus
                        {{ include('::core_sidemenu.html.twig') }}
                    <!--</div>-->
                </div>
                    
                <div class="col-sm-9">
                    <!--<div class="col-xs-12 inner_cell">-->
                    {{ include('::core_messages.html.twig') }}<br />
                    {% block page_title %}{% endblock %}  <br />  
                    {% block page_content %}{% endblock %}
                    <!--</div>-->
                </div>
            </div>
            
            <div class="row">
                <div class="footer">
                    footer
                </div>
            </div>
        </div>
    </body>
</html>
