{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="row">
    
    <a href="{{path('main_homepage')}}">
        <div class="app-button col-xs-offset-1 col-xs-10"> 
            <img class="app-icon" src="{{ asset('core/app/res/tower.png') }}" />
            <div class="app-label">Main</div>
        </div>
    </a> 
    
    <a href="{{path('bookmark_homepage')}}">
        <div class="app-button col-xs-offset-1 col-xs-10"> 
            <img class="app-icon" src="{{ asset('core/app/res/bookmark.png') }}" />
            <div class="app-label">Bookmarks</div>
        </div>
    </a>
    
    <a href="#">
        <div class="app-button col-xs-offset-1 col-xs-10"> 
            <img class="app-icon" src="{{ asset('core/app/res/candle_2.png') }}" />
            <div class="app-label">App 3</div>
        </div>
    </a>
        
    <a href="#">
        <div class="app-button col-xs-offset-1 col-xs-10"> 
            <img class="app-icon" src="{{ asset('core/app/res/soil_layers.png') }}" />
            <div class="app-label">App 4</div>
        </div>
    </a>
</div>
{% endif %}
