{% extends "::base.html.twig" %}

{% block page_title %}Liste des favoris{% endblock %}

{% block page_content %}
    <a class="btn btn-default btn-md" href="{{path('bookmark_add')}}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Ajouter un favori
    </a>
    <br />
    
    <div class="panel panel-default">
        <table class="table table-condensed">
            <tr class="info">
                <th>Titre</th>
                <th>Url</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>

            {% for bookmark in bookmarks %}
                <tr>
                    <td>{{bookmark.title}}</td>
                    <td>{{bookmark.url}}</td>
                    <td>{{bookmark.mark}}/5</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-xs btn-success" href='{{path('bookmark_show', {'id': bookmark.id})}}'>Détail</a>
                            <a class="btn btn-xs btn-primary" href='{{path('bookmark_edit', {'id': bookmark.id})}}'>Editer</a>
                            <a class="btn btn-xs btn-danger" href='{{path('bookmark_delete', {'id': bookmark.id})}}'>Supprimer</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
